option_settings:
  aws:elasticbeanstalk:application:environment:
    JAVA_OPTS: "-Xmx256m -Xms128m"
  aws:elasticbeanstalk:container:tomcat:jvm:
    JVM_CODE_CACHE_MAX: "240m"

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01_docker.conf":
    content: |
      /var/log/docker
      /var/log/ecs/agent.log
      /var/log/eb-docker/containers/*/var/log/tomcat/*
